<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>TrimFilter</filter-name>
        <filter-class>TrimFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ResponseFilter</filter-name>
        <filter-class>ResponseFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ResponseFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TrimFilter</filter-name>
        <servlet-name>PesquisaPessoaServlet</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>PesquisaPessoaServlet</servlet-name>
        <servlet-class>PesquisaPessoaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirPessoaServlet</servlet-name>
        <servlet-class>ExcluirPessoaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarPessoaServlet</servlet-name>
        <servlet-class>AlterarPessoaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaPessoaServlet</servlet-name>
        <url-pattern>/PesquisaPessoaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirPessoaServlet</servlet-name>
        <url-pattern>/ExcluirPessoaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarPessoaServlet</servlet-name>
        <url-pattern>/AlterarPessoaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
